Learning objectives
By the end of this lesson, students will be able to:

- Explain the relation between pandas.Series and pandas.DataFrame
- Construct simple pandas.Series and pandas.DataFrame from scratch using different initalization methods
- Perform simple operations on pandas.Series
- Navigate the pandas documentation to look for attributes and methods of pandas.Series and pandas.DataFrame

## Summary

This lesson explains the differences between series and arrays in pandas. Series have the indices included in the data structure, while arrays do not explicitly include the indices. Each column of a Dataframe is a series. 

### Series 

The series parameter can be an a list, a dictionary, a single number, boolean value, or string. It is possible to represent null or NA values in a series using numpy.nan (np.nan). Series have an attribute called hasnans to check for NA values, because a series will sill return a data type for the whole series. For booleans, true = NA, false = not NA. 

### Dataframes
Dataframes are dictionaries of series. You can have multiple columns of series and index into these series columns. We are able to change the index by using the attribute index and initializing the index to what you want.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

# check in
1. The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D.

2. In the pandas.Series documentation, look for the method mask(). Use this method to update the series s so that the -999 values are replaced by NA values. HINT: check the first example in the method’s documentation.

In [9]:
s = pd.Series([-999, 53, -999, 5], index = ["A", "B", "C", "D"])
print(s)

A   -999
B     53
C   -999
D      5
dtype: int64

In [16]:
s.mask(s == -999)

A     NaN
B    53.0
C     NaN
D     5.0
dtype: float64

### Check in #2
We can access the data frame’s column names via the columns attribute. Update the column names to C1 and C2 by updating this attribute.

In [19]:
df.columns = ["C1", "C2"]
df.columns

Index(['C1', 'C2'], dtype='object')